.filterBox {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
}

.input {
  max-height: 56px;
}

.date {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.inputBox {
  width: 256px;
}

.item {
  margin-top: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
